<p id="notice"><%= notice %></p>

<p>
  <b>Varianttitle:</b>
  <%= @shopifyvariant.varianttitle %>
</p>

<p>
  <b>String:</b>
  <%= @shopifyvariant.string %>
</p>

<p>
  <b>Variantid:</b>
  <%= @shopifyvariant.variantid %>
</p>

<p>
  <b>Integer:</b>
  <%= @shopifyvariant.integer %>
</p>

<p>
  <b>Variantinvqty:</b>
  <%= @shopifyvariant.variantinvqty %>
</p>

<p>
  <b>Integer:</b>
  <%= @shopifyvariant.integer %>
</p>

<p>
  <b>Variantprice:</b>
  <%= @shopifyvariant.variantprice %>
</p>

<p>
  <b>Integer:</b>
  <%= @shopifyvariant.integer %>
</p>

<p>
  <b>Variantop1:</b>
  <%= @shopifyvariant.variantop1 %>
</p>

<p>
  <b>String:</b>
  <%= @shopifyvariant.string %>
</p>

<p>
  <b>Variantop2:</b>
  <%= @shopifyvariant.variantop2 %>
</p>

<p>
  <b>String:</b>
  <%= @shopifyvariant.string %>
</p>

<p>
  <b>Variantgrams:</b>
  <%= @shopifyvariant.variantgrams %>
</p>

<p>
  <b>String:</b>
  <%= @shopifyvariant.string %>
</p>

<p>
  <b>Variantposition:</b>
  <%= @shopifyvariant.variantposition %>
</p>

<p>
  <b>String:</b>
  <%= @shopifyvariant.string %>
</p>

<p>
  <b>Variantsku:</b>
  <%= @shopifyvariant.variantsku %>
</p>

<p>
  <b>String:</b>
  <%= @shopifyvariant.string %>
</p>


<%= link_to 'Edit', edit_shopifyvariant_path(@shopifyvariant) %> |
<%= link_to 'Back', shopifyvariants_path %>
