<p id="notice"><%= notice %></p>

<p>
  <b>Producttype:</b>
  <%= @shopifylandingpage.producttype %>
</p>

<p>
  <b>String:</b>
  <%= @shopifylandingpage.string %>
</p>

<p>
  <b>Producttitle:</b>
  <%= @shopifylandingpage.producttitle %>
</p>

<p>
  <b>String:</b>
  <%= @shopifylandingpage.string %>
</p>

<p>
  <b>Producthandle:</b>
  <%= @shopifylandingpage.producthandle %>
</p>

<p>
  <b>String:</b>
  <%= @shopifylandingpage.string %>
</p>

<p>
  <b>Productimage1:</b>
  <%= @shopifylandingpage.productimage1 %>
</p>

<p>
  <b>String:</b>
  <%= @shopifylandingpage.string %>
</p>

<p>
  <b>Productimage2:</b>
  <%= @shopifylandingpage.productimage2 %>
</p>

<p>
  <b>String:</b>
  <%= @shopifylandingpage.string %>
</p>

<p>
  <b>Productimage3:</b>
  <%= @shopifylandingpage.productimage3 %>
</p>

<p>
  <b>String:</b>
  <%= @shopifylandingpage.string %>
</p>

<p>
  <b>Productid:</b>
  <%= @shopifylandingpage.productid %>
</p>

<p>
  <b>Integer:</b>
  <%= @shopifylandingpage.integer %>
</p>


<%= link_to 'Edit', edit_shopifylandingpage_path(@shopifylandingpage) %> |
<%= link_to 'Back', shopifylandingpages_path %>
