<h1>Listing shopifyproducts</h1>

<table>
  <tr>
    <th>Producttitle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shopifyproducts.each do |shopifyproduct| %>
  <tr>
    <td><%= shopifyproduct.producttitle %></td>
    <td><%= link_to 'Show', shopifyproduct %></td>
    <td><%= link_to 'Edit', edit_shopifyproduct_path(shopifyproduct) %></td>
    <td><%= link_to 'Destroy', shopifyproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shopifyproduct', new_shopifyproduct_path %>
